<a href="#">Lista de usuários</a>
<form action="" class="formUser" method="post">
	<div>
		<label>
			First Name: 
			<input type="text" name="firstname" value="<%=user ? user.get('firstname') : '' %>">
		</label>
	</div>
	<div>
		<label>
			Last Name: 
			<input type="text" name="lastname" value="<%=user ? user.get('lastname') : '' %>">
		</label>
	</div>
	<div>
		<label>
			Age: 
			<input type="text" name="age" value="<%=user ? user.get('age') : '' %>">
		</label>
	</div>
	<% if(user) { %>
	<input type="hidden" name="_id" value="<%= user.get('_id') %>">
	<% } %>
	<button type="submit">Save</button>
</form>